h5 {
  color: rgb(248, 244, 244) !important;
}

a {
  color: rgb(247, 241, 241) !important;
}

/* .body {
  background-color: rgb(245, 244, 224) !important;
} */

.footer {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

.column {
  justify-content: space-between;
}

i {
  padding-right: 20px;
  font-size: 40px;
}

.social-link {
  color: black;
}

.aboutPage-color {
  background-color: #eceef0;
  padding-top: 40px;
  margin-top: 100px;
}

.aboutPage-title {
  color: black !important;
  text-align: center;
  font-size: 30px !important;
}
.aboutPage-text {
  font-size: 20px !important;
  color: rgb(5, 21, 29) !important;
  font-family: sans-serif;
}

.pet-cardbox {
  /* justify-content: center !important; */
  background-color: rgb(242, 248, 248) !important;
}

.card-title {
  font-size: 22px;
  color: #005b9a !important;
  font-weight: 350 !important;
}

.card-text {
  color: rgb(4, 71, 71) !important;
}
/* .about-container {
  padding-top: 70px;
} */

.about-text {
  color: black !important;
  font-size: 20px !important;
}

.about-title {
  color: #005b9a;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.about-container {
  background-color: white;
}

.about-mainbody {
  height: 100%;
  width: 100%;
}

/* .about-image {
  height: "10%" !important;
  width: "50%";
  object-fit: "cover";
  object-position: "20% 50px" !important;
} */

.adoption-body {
  background-color: rgb(233, 240, 240) !important;
}

.footer-content {
  justify-content: center;
}
