.footer-container {
  background-color: #fcf6e8 !important;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 5px 50px;
}

h5 {
  color: rgb(248, 244, 244) !important;
}

a {
  color: rgb(247, 241, 241) !important;
}

.body {
  background-color: rgb(245, 244, 224) !important;
}

.footer {
  position: absolute !important;
  text-align: center !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 2.5rem !important;
}
