.nav {
  background-color: #97d3c6 !important;
}

.card {
  background-color: #e0b048 !important;
}

.jumbotron {
  background-color: #e2ad3b !important;
}

 {
  background-color: #97d3c6 !important;
}
